body {
  font-family: 'Courier New', Courier, monospace;
  background-color: black;
  color: lightgray;
}

.container {
  max-width: 960px;
  margin: auto;
}

table {
  border-collapse: collapse;
  border: 1px solid lightgray;
}

td, th {
  border: 1px solid lightgray;
  padding: 0.25rem 0.5rem;
}
